.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .header{
    background: #F4F6FA;
  }
  



  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 1000s ease-in-out 0s;
    -webkit-text-fill-color: #8997A6 ;
} */

/* Specific rule for the password input with autofill */
.logsign:-webkit-autofill,
.logsign:-webkit-autofill:hover,
.logsign:-webkit-autofill:focus,
.logsign:-webkit-autofill:active {
  transition: background-color 1000s ease-in-out 0s;
  -webkit-text-fill-color: #8997A6 !important; /* Keep the specific text color for password input */
   background-color: transparent !important; /* Ensure  the background stays transparent */
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important; /* Remove autofill box shadow */
}

